<footer class="bg-brightblack p-4">
  <p class="tracking-wide text-center">
    Made with
    <svg class="inline-block fill-current h-3 w-3 align-middle text-red hover:text-green" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
      <path d="M10 3.22l-.61-.6a5.5 5.5 0 0 0-7.78 7.77L10 18.78l8.39-8.4a5.5 5.5 0 0 0-7.78-7.77l-.61.61z"/>
    </svg>
    love by the <a class="text-yellow hover:text-magenta no-underline" href="{{ site.github.owner_url }}">{{ site.author | escape }}</a>.
  </p>
</footer>
