---
import Github from "@fortawesome/fontawesome-free/svgs/brands/github.svg";
import Npm from "@fortawesome/fontawesome-free/svgs/brands/npm.svg";
import Cc from "simple-icons/icons/creativecommons.svg";
import Code from "../../components/Code.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import Headline from "../../components/Headline.astro";
import Octocat from "../../components/Octocat.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const paletteVersion = fetch(
  "https://registry.npmjs.org/@srcery-colors/srcery-palette",
)
  .then((res) => res.json())
  .then((json) => {
    const version = json?.["dist-tags"]?.latest;
    if (!version) return;
    return version;
  });

const jsImportCode = `import palette from "@srcery-colors/srcery-palette";
console.log(palette.primary.red.hex);
`;

const cssImportCode = `@import "@srcery-colors/srcery-palette";
background: var(--srcery-palette-primary-black);
`;
---

<BaseLayout
  title="Srcery Theme - Various resources"
  description="Look up various Srcery resources, here lives everything that is not a theme"
>
  <Octocat />
  <div class="flex grow justify-center p-4">
    <main
      class="flex max-w-[448px] min-w-0 flex-col items-center sm:max-w-[780px]"
    >
      <Header activePage="resources" />
      <section class="w-full flex flex-col gap-10">
        <div class="flex flex-col gap-4">
          <Headline title="Resources" />
          <p class="text-justify text-white">
            This is a collection Srcery resources to get you started developing a theme. In addition to
            themes, Srcery has some tools and packages that aid in creating new
            themes, documentation, and or other related etcetera.
          </p>
        </div>
        <div class="flex flex-col gap-4">
          <Headline title="Palette">
          <a href="https://www.npmjs.com/package/@srcery-colors/srcery-palette" class="flex items-center group" target="_blank">
            <Npm class="mr-2 text-red group-hover:text-bright-red" width="30px"></Npm>
            <span class="text-xs text-white font-bold group-hover:text-bright-white">LATEST VERSION [v{paletteVersion}]</span>
          </a>
          </Headline>
          <p class="text-white">
          The
          <a class="link inline-block group" href="https://github.com/srcery-colors/srcery-palette">
            <span class="flex items-center">
              <Github class="mr-1 group-hover:text-blue" width="16px"></Github>
              <span class="text-bright-white">palette repository</span>
            </span>
          </a>
          and accompanying
          <a
            class="link inline-block group"
            href="https://www.npmjs.com/package/@srcery-colors/srcery-palette">

            <span class="flex items-center">
              <Npm class="mr-2 group-hover:text-red" width="20px"></Npm>
              npm package
            </span>
          </a>
          contains the up-to-date palette used in the Srcery ports.
          To get started install the package using npm or git:
          </p>
          <div class="flex flex-col gap-2">
            <div class="bg-hard-black p-2 overflow-x-auto">
              <Code language="bash" code="npm i @srcery-colors/srcery-palette"></Code>
            </div>

            <div class="bg-hard-black p-2 overflow-x-auto">
              <Code language="bash" code="git clone https://github.com/srcery-colors/srcery-palette"></Code>
            </div>
          </div>

          <div class="flex flex-col gap-4">
            <Headline title="Usage" text_size="text-sm" subtitle></Headline>
            <p class="text-white">
            Once downloaded, you can there are a few files includes. Here I use <code class="inline-code">jq</code> to grab red from the
            <code class="inline-code">json</code> palette in <code class="inline-code">bash</code>
            <div class="bg-hard-black p-2 overflow-x-auto">
              <Code language="bash" code="jq < palette.json '.primary.red.hex'"></Code>
            </div>
            <span class="text-white">
              Or if you use the npm package, it exports
              <code class="inline-code">palette.json</code>, making it available in javascript like this:
            </span>

            <div class="bg-hard-black p-2 overflow-x-auto">
              <Code language="js" code={jsImportCode}></Code>
            </div>

            <span class="text-white">
              The package also exports CSS variables that can be imported in your CSS files
            </span>

            <div class="bg-hard-black p-2 overflow-x-auto">
              <Code language="css" code={cssImportCode}></Code>
            </div>
            </p>
          </div>

          <div class="flex flex-col gap-4">
            <Headline title="Guidelines" text_size="text-sm" subtitle></Headline>
            <p class="text-white">
            If you need guidelines on what color should be used for what types or elements,
            refering to the
            <a href="https://github.com/srcery-colors/srcery-vim/blob/master/colors/srcery.vim" class="inline-block link">vim theme</a>
            would be a good place to start, or pick your favorite port and follow that.
            </p>
          </div>

          <p class="text-white">
          For UI elements, the gray shades, black, and white are most useful, while the other colors works well as accents.
          </p>

        </div>
        <div class="flex flex-col gap-4">
          <Headline title="Graphic assets">
          <a href="https://creativecommons.org/licenses/by/4.0/" class="flex items-center group" target="_blank">
            <Cc class="mr-2 fill-white group-hover:fill-bright-white" width="16px"></Cc>
            <span class="text-xs text-white font-bold group-hover:text-bright-white">LICENSE CC-BY-4.0</span>
          </a>
          </Headline>
          <p class="text-white">
          We keep graphic assets in a separate repo so not to inflate the size
          of each theme.

          If you are looking for icons, logo, screenshots, etcetera, this is
          the place.
          All assets are under a permissive license for easy distribution.
          </p>
          <ul class="list-inside list-disc">
            <li class="mb-2">
              <a
                target="_blank"
                class="link inline-block group"
                href="https://github.com/srcery-colors/srcery-assets"
                >

                <span class="flex items-center">
                  <Github class="mr-1 group-hover:text-blue" width="16px"></Github>
                  <span class="text-bright-white">Github repository</span>
                </span>
              </a>
            </li>
            <li class="mb-2">
              <a
                target="_blank"
                class="link inline-block group"
                href="https://creativecommons.org/licenses/by/4.0/"
                >

                <span class="flex items-center">
                  <Cc class="mr-2 fill-bright-white group-hover:fill-green" width="16px"></Cc>
                  <span class="text-bright-white">License deed</span>
                </span>
              </a>
            </li>
          </ul>
        </div>
        <div class="flex flex-col gap-4">
          <Headline title="Miscellaneous">
          </Headline>
          <ul class="list-inside list-disc">
            <li class="">
              <a
                target="_blank"
                class="link inline-block group"
                href="https://github.com/srcery-colors/srcery.sh"
                >

                <span class="flex items-center">
                  <Github class="mr-1 group-hover:text-blue" width="16px"></Github>
                  <span class="text-bright-white">Website source code</span>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </section>
    </main>
  </div>
  <Footer />
</BaseLayout>
