---

---

<footer
  class="w-full border-t border-gray2 p-4 mt-6 text-bright-black text-xs"
>
  <p class="text-center pb-1">
    Made with
    <svg
      class="inline-block hover:scale-200 transition-all h-3 w-3 fill-current align-middle text-red hover:text-green"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
    >
      <path
        d="M10 3.22l-.61-.6a5.5 5.5 0 0 0-7.78 7.77L10 18.78l8.39-8.4a5.5 5.5 0 0 0-7.78-7.77l-.61.61z"
      ></path>
      <title>LOVE</title>
    </svg>
    by the
    <a
      class="text-yellow font-bold no-underline hover:text-magenta transition-colors"
      href="https://github.com/orgs/srcery-colors/people">Srcery team</a
    > and contributors.
  </p>
</footer>
