---
interface Props {
  title: string;
  color?: string;
  text_size?: string;
  subtitle?: boolean;
}

const {
  title,
  color = "color-bright-white",
  text_size = "text-base",
  subtitle = false
} = Astro.props;

---

<div class="flex items-center gap-2">
  <span class:list={["uppercase font-bold", color, text_size]}>{title}</span>
  {!subtitle ? (<div class="flex-1 section-line h-[1px]"></div>) : null}
  <slot></slot>
</div>

<style>
  .section-line {
    background: linear-gradient(90deg, var(--color-bright-black), transparent);
  }
</style>

