<div class="pt-8">
  <footer class="w-screen bg-xgray2 p-4">
    <p class="text-center tracking-wide">
      Made with
      <svg
        class="inline-block h-3 w-3 fill-current align-middle text-red hover:text-green"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
      >
        <path
          d="M10 3.22l-.61-.6a5.5 5.5 0 0 0-7.78 7.77L10 18.78l8.39-8.4a5.5 5.5 0 0 0-7.78-7.77l-.61.61z"
        ></path>
        <title>LOVE</title>
      </svg>
      by the
      <a
        class="text-yellow no-underline hover:text-magenta"
        href="https://github.com/srcery-colors"
        >Srcery team</a
      >.
    </p>
  </footer>
</div>
