<header class="mb-8 min-w-auto sm:max-w-[640px] sm:min-w-[640px]">
  <a
    href="/"
    class="mb-2 flex min-h-auto flex-col items-center pt-2 sm:min-h-[546px] sm:pt-0"
  >
    <div
      class="flex items-center justify-center rounded-full border-2 border-bright_black p-5 sm:hidden"
    >
      <img
        alt="Srcery glyph"
        src="/svg/glyph.svg"
        class="glyph h-logo w-logo"
      />
    </div>
    <div
      class="align-center hidden min-h-[546px] min-w-full justify-center bg-triangle bg-center bg-no-repeat pt-[30%] sm:flex"
    >
      <img
        alt="Srcery glyph"
        src="/svg/glyph.svg"
        class="glyph h-logo w-logo"
      />
    </div>
    <div class="mt-4 flex items-center sm:mt-[-18%]">
      <div class="mr-2 flex">
        <div class="dot bg-xgray2"></div>
        <div class="dot bg-xgray7"></div>
        <div class="dot bg-xgray10"></div>
      </div>
      <h1 class="text-6xl uppercase">Srcery</h1>
      <div class="ml-2 flex">
        <div class="dot bg-xgray10"></div>
        <div class="dot bg-xgray7"></div>
        <div class="dot bg-xgray2"></div>
      </div>
    </div>
  </a>
  <nav
    class="flex max-w-[384px] grow justify-between justify-center sm:max-w-full"
  >
    <span class="w-full text-left">
      <a href="/themes/" class="link uppercase {{#if themes}}sel{{/if}}"
        >themes</a
      >
    </span>
    <span class="w-full text-center">
      <a href="/resources/" class="link uppercase {{#if resources}}sel{{/if}}"
        >resources</a
      >
    </span>
    <span class="w-full text-right">
      <a href="/community/" class="link uppercase {{#if community}}sel{{/if}}"
        >community</a
      >
    </span>
  </nav>
</header>
{{!-- vim: set ts=2 sw=2 tw=0 et ft=handlebars : --}}
