<header class="min-w-auto sm:min-w-[640px] sm:max-w-[640px] mb-8">
  <a href="/" class="min-h-auto pt-2 sm:pt-0 sm:min-h-[546px] flex flex-col items-center mb-2">
    <div class="flex sm:hidden p-5 rounded-full border-2 border-bright_black justify-center items-center">
      <img alt="Srcery glyph" src="/svg/glyph.svg" class="glyph w-logo h-logo">
    </div>
    <div class="bg-triangle bg-no-repeat min-h-[546px] pt-[30%] hidden sm:flex min-w-full bg-center align-center justify-center">
      <img alt="Srcery glyph" src="/svg/glyph.svg" class="glyph w-logo h-logo">
    </div>
    <div class="mt-4 sm:mt-[-18%] flex items-center">
      <div class="flex mr-2">
        <div class="dot bg-xgray2"></div>
        <div class="dot bg-xgray7"></div>
        <div class="dot bg-xgray10"></div>
      </div>
      <h1 class="uppercase text-6xl">Srcery</h1>
      <div class="flex ml-2">
        <div class="dot bg-xgray10"></div>
        <div class="dot bg-xgray7"></div>
        <div class="dot bg-xgray2"></div>
      </div>
    </div>
  </a>
  <nav class="flex justify-center max-w-[384px] sm:max-w-full flex grow justify-between">
    <span class="w-full text-left">
      <a href="/themes/" class="link uppercase {{#if themes}}sel{{/if}}">themes</a>
    </span>
    <span class="w-full text-center">
      <a href="/resources/" class="link uppercase {{#if resources}}sel{{/if}}">resources</a>
    </span>
    <span class="w-full text-right">
      <a href="/community/" class="link uppercase {{#if community}}sel{{/if}}">community</a>
    </span>
  </nav>
</header>
{{!--  vim: set ts=2 sw=2 tw=0 et ft=handlebars : --}}
