/***
 *
 TailwindCSS Import

 TODO: Check when Parcel 2.0 is released if why can use proper imports.

 ***/

@tailwind base;

@tailwind components;

@import "./github-component.css";

@font-face {
  font-family: "Iosevka Regular";
  src: url("../fonts/iosevka-regular.woff2") format("woff2"),
    url("../fonts/iosevka-regular.woff") format("woff"),
    url("../fonts/iosevka-regular.ttf") format("truetype");
}

@tailwind utilities;
