<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Srcery theme</title>
  </head>
  <body class="font-iosevka bg-black text-brightwhite">
    <h1 class="">Hello world!</h1>
    <img src="https://raw.githubusercontent.com/srcery-colors/srcery-assets/master/src/glyph.svg" width="90" height="90" />
  </body>
</html>
