<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Srcery theme</title>
  </head>
  <body class="font-iosevka bg-black text-brightwhite flex p-4">
    <header class="mx-auto">
      <!-- <img src="https://raw.githubusercontent.com/srcery-colors/srcery-assets/master/src/glyph.svg" /> -->
      <h1 class="uppercase text-center text-xl">Srcery</h1>
    </header>
  </body>
</html>
