@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    src: url('fonts/iosevka-custom-regular.ttf') format('truetype'), url('fonts/iosevka-custom-regular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    src: url('fonts/iosevka-custom-bold.ttf') format('truetype'), url('fonts/iosevka-custom-bold.woff2') format('woff2');
  }
}

html,body {
  min-height: 100%;
}
pre > code {
  font-family: "Iosevka Custom Web", monospace;
}

pre {
  height: 416px;
  overflow-y: auto;
}

.hljs {
  padding: 0 !important;
}

.logo {
  min-height: 546px;
}

main {
  max-width: 780px;
  min-width: 0;
}

header {
  min-width: 630px;
  max-width: 630px;
}

nav {
  max-width: 100%;
}

.glyph {
  width: 220px;
  height: 220px;
}

.bb {
  border-bottom: 1px solid;
}
.bb:hover {
  border-bottom: 1px dotted;
}

section {

}

.triangle {
  background-image: url('svg/triangle.svg');
  min-height: 546px;
  padding-top: 30%;
  min-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.circle {
  display: none;
  width: 272px;
  height: 272px;
  border-radius: 50%;
}

.dot {
  width: 12px;
  border-radius: 50%;
  height: 12px;
}

.title {
  margin-top: -18%;
}

@media (max-width: 631px) {
  .title {
    margin-top: 1rem;
  }
  .logo {
    min-height: auto;
    padding-top: 2rem;
  }
  header {
    min-width: auto;
  }
  main {
    max-width: 448px;
  }
  nav {
    max-width: 384px;
  }
  .triangle {
    display: none;
  }
  .circle {
    display: flex;
  }
}
@media (max-width: 320px) {
  .dot {
    display: none;
  }
}
