@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Iosevka Custom Web";
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    src:
      url("fonts/iosevka-custom-regular.ttf") format("truetype"),
      url("fonts/iosevka-custom-regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "Iosevka Custom Web";
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    src:
      url("fonts/iosevka-custom-bold.ttf") format("truetype"),
      url("fonts/iosevka-custom-bold.woff2") format("woff2");
  }
}

@layer components {
  .dot {
    @apply mr-2 hidden h-dot w-dot rounded-full tiny:block;
  }
  .link {
    @apply border-b border-dotted border-white hover:text-white;
  }
  .tab {
    @apply flex grow items-end justify-center border-bright_black px-4 pt-1;
  }
  .tab-inactive {
    @apply border-b-2 hover:bg-xgray1;
  }
  .tab-active {
    @apply border-b-2 border-e-2 border-s-2 border-t-2 border-b-transparent;
  }
  .svg > svg > * {
    @apply fill-bright_white;
  }
  .code {
    @apply mb-3 flex overflow-x-auto whitespace-nowrap bg-hard_black p-4;
  }
  .inline-code {
    @apply whitespace-nowrap bg-hard_black p-1;
  }
  .list-dot {
    @apply mr-2 h-[5px] w-[5px] rounded-full bg-bright_white;
  }
  .sel {
    @apply border-bright_blue text-bright_blue;
  }
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-25deg);
  }

  40% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(-25deg);
  }

  80% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
