@import "tailwindcss" source("../src");

@config '../tailwind.config.js';

@theme {
  --font-iosevka: Iosevka Custom Web, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --breakpoint-tiny: 320px;

  --background-image-triangle: url("svg/triangle.svg");

  --width-logo: 220px;
  --width-dot: 12px;

  --height-logo: 220px;
  --height-dot: 12px;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility dot {
  @apply mr-2 hidden h-dot w-dot rounded-full tiny:block;
}

@utility link {
  @apply border-b border-dotted border-white hover:text-white;
}

@utility tab {
  @apply flex grow items-end justify-center border-bright_black px-4 pt-1;
}

@utility tab-inactive {
  @apply border-b-2 hover:bg-xgray1;
}

@utility tab-active {
  @apply border-s-2 border-e-2 border-t-2 border-b-2 border-b-transparent;
}

@utility svg {
  & > svg > * {
    @apply fill-bright_white;
  }
}

@utility code {
  @apply mb-3 flex overflow-x-auto bg-hard_black p-4 whitespace-nowrap;
}

@utility inline-code {
  @apply bg-hard_black p-1 whitespace-nowrap;
}

@utility list-dot {
  @apply mr-2 h-[5px] w-[5px] rounded-full bg-bright_white;
}

@utility sel {
  @apply border-bright_blue text-bright_blue;
}

@layer base {
  @font-face {
    font-family: "Iosevka Custom Web";
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    src:
      url("fonts/iosevka-custom-regular.ttf") format("truetype"),
      url("fonts/iosevka-custom-regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "Iosevka Custom Web";
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    src:
      url("fonts/iosevka-custom-bold.ttf") format("truetype"),
      url("fonts/iosevka-custom-bold.woff2") format("woff2");
  }
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-25deg);
  }

  40% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(-25deg);
  }

  80% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
