@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    src: url('fonts/iosevka-custom-regular.ttf') format('truetype'), url('fonts/iosevka-custom-regular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Iosevka Custom Web';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    src: url('fonts/iosevka-custom-bold.ttf') format('truetype'), url('fonts/iosevka-custom-bold.woff2') format('woff2');
  }
}

@layer components {
  .dot {
    @apply hidden tiny:block w-dot h-dot rounded-full mr-2;
  }
  .link {
    @apply border-b border-dotted hover:text-white border-white;
  }
  .tab {
    @apply px-4 flex border-bright_black items-end justify-center pt-1 grow;
  }
  .tab-inactive {
    @apply border-b-2 hover:bg-xgray1;
  }
  .tab-active {
    @apply border-e-2 border-s-2 border-t-2 border-b-transparent border-b-2;
  }
  .svg > svg > * {
    @apply fill-bright_white;
  }
  .code {
    @apply whitespace-nowrap overflow-x-auto flex mb-3 p-4 bg-hard_black;
  }
  .inline-code {
    @apply whitespace-nowrap bg-hard_black p-1;
  }
  .list-dot {
    @apply w-[5px] h-[5px] bg-bright_white rounded-full mr-2;
  }
  .sel {
    @apply text-bright_blue border-bright_blue
  }
}

html,body {
  min-height: 100%;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-25deg);
  }

  40% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(-25deg);
  }

  80% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
