// TailwindCSS Import
@import "tailwindcss/preflight";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Importing Fancybox CSS
// @import "@fancyapps/fancybox/dist/jquery.fancybox.css";
@import "@fancyapps/fancybox";

// Loading Iosevka font
@font-face {
  font-family: "Iosevka Regular";
  src: url("./fonts/iosevka-regular.woff2") format("woff2"),
    url("./fonts/iosevka-regular.woff") format("woff"),
    url("./fonts/iosevka-regular.ttf") format("truetype");
}

// GitHub Banner
.github-corner {
  &:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }

  @media (max-width: 500px) {
    .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }

    &:hover .octo-arm {
      animation: none;
    }
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}
