---
name: Test

on: # yamllint disable-line
  pull_request:

jobs:
  test:
    name: Test Compilation
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup pnpm & install packages
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: latest
          run_install: true

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: pnpm

      - name: Fetch data
        run: pnpm run fetch
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run tests (build is okay)
        run: pnpm run build

      - name: Check Prettier
        run: pnpm run prettier

      - name: Check ESLint
        run: pnpm run eslint-ci
