---
name: Test

on: # yamllint disable-line
  pull_request:

jobs:
  test:
    name: Test Compilation
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup pnpm & install packages
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: latest
          run_install: true

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: pnpm

      - name: Fetch data
        run: pnpm run fetch
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run tests (build is okay)
        run: pnpm run build

      - name: Check Prettier
        run: pnpm run prettier

      - name: Check ESLint
        run: pnpm run eslint-ci
